# ===== Infrastructure environment ====
NGINX_DOMAIN_NAME=68publishers.local
NGINX_RESTRICT_ACCESS=0
COMPOSE_ENV=local
CERTBOT_EMAIL=info@68publishers.io

# ===== Application =====
APP_DEBUG=0
APP_DEBUG_COOKIE_SECRET=debug
COOKIE_SECURE=0
#TRUSTED_PROXIES=127.0.0.1 # optional, IP or IPs separated by a comma. The range you can enter like 1.0.0.0/1
#BUILD_VERSION=unknown # optional, displayed in the Tracy

# ===== GTM =====
#GTM_CONTAINER_ID=GTM-XXXXXX # optional
