includes:
    #- packages/@default.neon
    #- php/@default.neon

parameters:
    #assetsDir: %appDir%/../assets

php:
    date.timezone: UTC

application:
    mapping:
        *: App\*Module\Presenter\*Presenter

tracy:
    maxDepth: 6

http:
    proxy: ::array_filter(::explode(',', ::env(TRUSTED_PROXIES, '')))

services:
    routing.router: App\RouterFactory()::create()

    apiHandler:
        autowired: App\Application\ApiHandler\ApiHandlerInterface
        type: App\Application\ApiHandler\ApiHandlerInterface
        create: @apiHandler.loggable

    apiHandler.loggable:
        autowired: no
        create: App\Infrastructure\ApiHandler\Loggable\LoggableApiHandler(
            inner: @apiHandler.slack
        )

    apiHandler.slack:
        autowired: no
        create: App\Infrastructure\ApiHandler\Slack\SlackApiHandler(
            token: ::env(SLACK_TOKEN)
            channel: ::env(SLACK_CHANNEL)
        )
